body{
background:#f1f3fa;
}
.profile{
margin:20px 0;
}
.profile-sidebar{
padding:20px 0 10px 0;
background:#fff;
}
.profile-user-pic{
float:name;
margin:0 auto;
width:50%;
height:50%;
}
.profile-user-title{
text-align:center;
margin-top:20px;
}
.profile-user-name{
color:#5a73al;
font-size:18px;
margin-bottom:7px;
}
.profile-user-job{
text-transform:uppercase;
color:#5babd1;
font-size:13px;
font-weight:600;
margin-bottom:15px
}